* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}
nav {
    height: 65px;
    width : 100%;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    height: 30px;
    width: 36px;
   
}
h3{
    font-family: Karla;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    padding-left: 5px;

}
.logo{
    display: flex;
    align-items:center;
    color: white;
    margin-left: 40px;
    
}
p{
    font-family: Inter;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0em;
    padding-right: 37px;
    color: white;
}
main {
    padding: 36px;
}

.form {
    width: 60%;
    height: 80%;
    margin:  auto;
    display: grid;
    grid-template: 50px 50px / 1fr 1fr ;
    gap: 17px;
    margin-bottom: 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

input {
    border: 1px solid #D5D4D8;
    border-radius: 5px;

}
::placeholder{
    font-size: 16px;
}
input:focus {
    outline: none !important;
    border: 1px solid #D5D4D8;
    text-indent: 5px;

}


.meme {
    position: relative;
    grid-column: 1 / -1;
}

.meme--image {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}